<center><h1>So you moved!</h1><center>

<form method="post" action="humanX(move2)">
  <input type="text" name = "move">
  <input type="submit">
</form>

<table><h1>
	<tr>
    <td><%= c1%></td>
    <td><%= c2%></td>
    <td><%= c3%></td>
  </tr>
  <tr>
    <td><%= b1%></td>
    <td><%= b2%></td>
    <td><%= b3%></td>
  </tr>
  <tr>
    <td><%= a1%></td>
    <td><%= a2%></td>
    <td><%= a3%></td>		
	</tr>	
</h1></table>


