<center><h1>So you moved!</h1><center>

<form method="post" action="humanX_move2">
  <input type="text" name = "computermove1">
  <input type="submit">
</form>



<table><h1>
	<tr>
    <td><%= gameboard.setup[:c1]%></td>
    <td><%= gameboard.setup[:c2]%></td>
    <td><%= gameboard.setup[:c3]%></td>
  </tr>
  <tr>
    <td><%= gameboard.setup[:b1]%></td>
    <td><%= gameboard.setup[:b2]%></td>
    <td><%= gameboard.setup[:b3]%></td>
  </tr>
  <tr>
    <td><%= gameboard.setup[:a1]%></td>
    <td><%= gameboard.setup[:a2]%></td>
    <td><%= gameboard.setup[:a3]%></td>		
	</tr>	
</h1></table>


