<html>
	<head>
		<body class= "bgblack">
		<link href="css/styles.css" rel="stylesheet">
<h1 class= "color_darkmagenta center">The UNBEATABLE Tic-Tac-Toe Machine!</h1>
<center><a style="color:red" href='/'>Reset</a></center>
<br><br>


<%=yield%>

	<center><h3>Squares Legend</h3><center>
	<center><table>

	  <tr>
	    <td><%= "a3 | "%></td>
	    <td><%= "b3 | "%></td>
	    <td><%= "c3 | "%></td>
	  </tr>
	  <tr>
	    <td><%= "a2 | "%></td>
	    <td><%= "b2 | "%></td>
	    <td><%= "c2 | "%></td>
	  </tr>
	  <tr>
	    <td><%= "a1 | "%></td>
	    <td><%= "b1 | "%></td>
	    <td><%= "c1 | "%></td>
	  </tr>
	</table></center>
		</body>
	<head>
</html>