<center><h1>Enter a square:</h1><center>

<form method="post" action="humanX(move)">
  <input type="text" name = "move">
  <input type="submit">
</form>

<table>
  <tr>
    <td><%= newboard[:c1]%></td>
    <td><%= newboard[:c2]%></td>
    <td><%= newboard[:c3]%></td>
  </tr>
  <tr>
    <td><%= newboard[:b1]%></td>
    <td><%= newboard[:b2]%></td>
    <td><%= newboard[:b3]%></td>
  </tr>
  <tr>
    <td><%= newboard[:a1]%></td>
    <td><%= newboard[:a2]%></td>
    <td><%= newboard[:a3]%></td>
  </tr>
</table>