<center><h1>Enter a square:</h1><center>

<form method="post" action="humanX(move)">
  <input type="text" name = "move">
  <input type="submit">
</form>

<table>
	<tr>
    <td><%= freshgame[:c1]%></td>
    <td><%= freshgame[:c2]%></td>
    <td><%= freshgame[:c3]%></td>
  </tr>
  <tr>
    <td><%= freshgame[:b1]%></td>
    <td><%= freshgame[:b2]%></td>
    <td><%= freshgame[:b3]%></td>
  </tr>
  <tr>
    <td><%= freshgame[:a1]%></td>
    <td><%= freshgame[:a2]%></td>
    <td><%= freshgame[:a3]%></td>		
	</tr>	
</table>


<table>

  <tr>
    <td><%= legend[:c1]%></td>
    <td><%= legend[:c2]%></td>
    <td><%= legend[:c3]%></td>
  </tr>
  <tr>
    <td><%= legend[:b1]%></td>
    <td><%= legend[:b2]%></td>
    <td><%= legend[:b3]%></td>
  </tr>
  <tr>
    <td><%= legend[:a1]%></td>
    <td><%= legend[:a2]%></td>
    <td><%= legend[:a3]%></td>
  </tr>
</table>