<center><h1>Enter a square:</h1><center>

<form method="post" action="humanX(move)">
  <input type="text" name = "move">
  <input type="submit">
</form>

<table><h1>
	<tr>
    <td><%= freshgame[:c1]%></td>
    <td><%= freshgame[:c2]%></td>
    <td><%= freshgame[:c3]%></td>
  </tr>
  <tr>
    <td><%= freshgame[:b1]%></td>
    <td><%= freshgame[:b2]%></td>
    <td><%= freshgame[:b3]%></td>
  </tr>
  <tr>
    <td><%= freshgame[:a1]%></td>
    <td><%= freshgame[:a2]%></td>
    <td><%= freshgame[:a3]%></td>		
	</tr>	
</h1></table>


